# vim:set filetype=dosini:
[global_config]
  dbus = True
  enabled_plugins = CustomCommandsMenu, InactivityWatch, ActivityWatch, TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, Logger, LaunchpadBugURLHandler
  focus = system
  hide_from_taskbar = True
  inactive_color_offset = 0.71
  sticky = True
  title_hide_sizetext = True
  title_transmit_bg_color = "#2f343f"
[keybindings]
  cycle_next = <Primary>Tab
  cycle_prev = <Primary><Shift>Tab
  hide_window = <Primary>Escape
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      size = 1700, 800
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.9
    background_image = None
    background_type = transparent
    custom_command = screen
    font = Droid Sans Mono for Powerline Plus Nerd File Types 10
    foreground_color = "#fed000"
    scroll_on_output = False
    scrollback_infinite = True
    split_to_group = True
    use_system_font = False
    visible_bell = True
